<form asp-action="Create">
    <div>
         <label>Person ID: </label>
         <input type="text" name="PersonID">
    </div>
    <br>
    <div>
        <label>Person Name: </label>
        <input type="text" name="PersonName">
    </div>
    <br>
    <div>
        <label>Person Age:</label>
        <input type="text" name="PersonAge">
    </div>
    <br>
    <input type="submit" value="Create">
</form>
<br>
<div>
    <a asp-action="Index">Back to List</a>
</div>