<form asp-action="Create">
    <div>
         <label>Employee ID: </label>
         <input type="text" name="EmployeeID">
    </div>
    <br>
    <div>
        <label>Employee Name: </label>
        <input type="text" name="EmployeeName">
    </div>
    <br>
    <div>
        <label>Employee Age:</label>
        <input type="text" name="EmployeeAge">
    </div>
    <br>
    <input type="submit" value="Create">
</form>
<br>
<div>
    <a asp-action="Index">Back to List</a>
</div>