<form asp-action="Create">
    <div>
         <label>Student ID: </label>
         <input type="text" name="StudentID">
    </div>
    <br>
    <div>
        <label>Student Name: </label>
        <input type="text" name="StudentName">
    </div>
    <br>
    <input type="submit" value="Create">
</form>
<br>
<div>
    <a asp-action="Index">Back to List</a>
</div>