<form asp-action="Create">
    <div>
         <label>Customer ID: </label>
         <input type="text" name="CustomerID">
    </div>
    <br>
    <div>
        <label>Customer Name: </label>
        <input type="text" name="CustomerName">
    </div>
    <br>
    <div>
        <label>Customer Age:</label>
        <input type="text" name="CustomerAge">
    </div>
    <br>
    <input type="submit" value="Create">
</form>
<br>
<div>
    <a asp-action="Index">Back to List</a>
</div>